<h1>Listing checkresults</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checkresults.each do |checkresult| %>
      <tr>
        <td><%= checkresult.name %></td>
        <td><%= link_to 'Show', checkresult %></td>
        <td><%= link_to 'Edit', edit_checkresult_path(checkresult) %></td>
        <td><%= link_to 'Destroy', checkresult, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Checkresult', new_checkresult_path %>
