<h1>Listing equipment</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Place</th>
      <th>Division</th>
      <th>last_update</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment.each do |equipment| %>
      <tr>
        <td><%= equipment.name %></td>
        <td><%= equipment.type.name %></td>
        <td><%= equipment.place.name %></td>
        <td><%= equipment.division.name %></td>
        <td><%= equipment.updated_at %></td>
        <td><%= link_to 'Show', equipment %></td>
        <td><%= link_to 'Edit', edit_equipment_path(equipment) %></td>
        <td><%= link_to 'Destroy', equipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equipment', new_equipment_path %>
