<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @equipment.type.name %>
</p>

<p>
  <strong>Place:</strong>
  <%= @equipment.place.name %>
</p>

<p>
  <strong>Divison:</strong>
  <%= @equipment.division.name %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
