<h1><%= t('views.record.show') %></h1>


<p id="notice"><%= notice %></p>

<p>
  <strong>Worker:</strong>
  <%= @record.worker.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @record.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @record.longitude %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
