<h1><%= t('views.kiroku.show') %></h1>

<p id="notice"><%= notice %></p>

<%= render 'checks/kiroku_show', check: @kiroku.check %>

<%= render 'measurements/kiroku_show', measurement: @kiroku.measurement %>

<%= render 'notes/kiroku_show', note: @kiroku.note %>

<%= render 'show', kiroku: @kiroku %>

<%= link_to t('views.inspection.index'), inspections_path %>

<hr>
<%= link_to 'Edit', edit_kiroku_path(@kiroku) %> |
<%= link_to 'Back', kirokus_path %>
