<%= form_for(@infomsg) do |f| %>
  <% if @infomsg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@infomsg.errors.count, "error") %> prohibited this infomsg from being saved:</h2>

      <ul>
      <% @infomsg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :effective_date %><br>
    <%= f.date_select :effective_date %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    PassWord:<br>
    <%= text_field :check, :adminpass %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
