<h1><%= t('views.infomsg.show') %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('activerecord.attributes.infomsg.effective_date') %>:</strong>
  <%= @infomsg.effective_date %>
</p>

<p>
  <strong><%= t('activerecord.attributes.infomsg.title') %>:</strong>
  <%= @infomsg.title %>
</p>

<p>
  <strong><%= t('activerecord.attributes.infomsg.description') %>:</strong>
  <%= @infomsg.description %>
</p>

<%= link_to 'Back', infomsgs_path %>
