  <div class="field">
    <%= f.label :metercount %><br>
    <%= f.number_field :metercount %>
  </div>
  <div class="field">
    <%= f.label :testervalue %><br>
    <%= f.text_field :testervalue %>
  </div>
  <div class="field">
    <%= f.label :point %><br>
    <%= f.number_field :point %>
  </div>
