<h3><%= t('views.measurement.show') %></h3>

<p>
  <strong><%= t('activerecord.attributes.measurement.metercount') %>:</strong>
  <%= measurement.metercount %>
</p>

<p>
  <strong><%= t('activerecord.attributes.measurement.testervalue') %>:</strong>
  <%= measurement.testervalue %>
</p>

<p>
  <strong><%= t('activerecord.attributes.measurement.point') %>:</strong>
  <%= measurement.point %>
</p>
