  <div class="field">
    <%= f.label :weather_id %><br>
    <%= f.collection_select( :weather_id, Weather.all, :id, :name )%>
  </div>
  <div class="field">
    <%= f.label :exterior %><br>
    <%= f.collection_select( :exterior, Checkresult.all, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :tone %><br>
    <%= f.collection_select( :tone, Checkresult.all, :id, :name ) %>
  </div>
  <div class="field">
    <%= f.label :stain %><br>
    <%= f.collection_select( :stain, Checkresult.all, :id, :name ) %>
  </div>
