<h3><%= t('views.check.show') %></h3>

<p>
  <strong><%= t('activerecord.attributes.check.weather_id') %>:</strong>
  <%= check.weather.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.check.exterior') %>:</strong>
  <%= check.exterior.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.check.tone') %>:</strong>
  <%= check.tone.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.check.stain') %>:</strong>
  <%= check.stain.name %>
</p>
