<h1>Listing checks</h1>

<table>
  <thead>
    <tr>
      <th>Weather</th>
      <th>Exterior</th>
      <th>Tone</th>
      <th>Stain</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @checks.each do |check| %>
      <tr>
        <td><%= check.weather.name %></td>
        <td><%= check.exterior.name %></td>
        <td><%= check.tone.name %></td>
        <td><%= check.stain.name %></td>
        <td><%= link_to 'Show', check %></td>
        <td><%= link_to 'Edit', edit_check_path(check) %></td>
        <td><%= link_to 'Destroy', check, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Check', new_check_path %>
