<h1><%= t('views.inspection.done_inspection') %></h1>

<%= render 'show', inspection: @inspection %>

<hr>

<% @kirokus.each do |kiroku| %>
  <table>
    <tr>
      <td><%= t('activerecord.attributes.kiroku.worker_id') %>:<%= kiroku.worker.name %></td>
      <td><%= t('activerecord.attributes.kiroku.updated_at') %>:<%= kiroku.updated_at %></td>
    </tr>
    <tr><td colspan="2">
      <table border=1>
        <tr>
          <th><%= t('activerecord.attributes.check.weather_id') %></th>
          <th><%= t('activerecord.attributes.check.exterior_id') %></th>
          <th><%= t('activerecord.attributes.check.tone_id') %></th>
          <th><%= t('activerecord.attributes.check.stain_id') %></th>
        </tr>
        <tr>
          <td><%= kiroku.check.weather.name %></td>
          <td><%= kiroku.check.exterior.name %></td>
          <td><%= kiroku.check.tone.name %></td>
          <td><%= kiroku.check.stain.name %></td>
        </tr>
      </table>
    </td></tr>
    <tr><td colspan="2">
      <table border=1>
        <tr>
          <th><%= t('activerecord.attributes.measurement.metercount') %></th>
          <th><%= t('activerecord.attributes.measurement.testervalue') %></th>
          <th><%= t('activerecord.attributes.measurement.point') %></th>
        </tr>
        <tr>
          <td><%= kiroku.measurement.metercount %></td>
          <td><%= kiroku.measurement.testervalue %></td>
          <td><%= kiroku.measurement.point %></td>
        </tr>
      </table>
    </td></tr>
    <tr><th colspan="2"><%= t('activerecord.attributes.note.memo') %></th></tr>
    <tr><td colspan="2"><%= kiroku.note.memo %></td></tr>
    <tr><th colspan="2"><%= t('activerecord.attributes.note.picture') %></th></tr>
    <tr><td colspan="2"><%= image_tag(kiroku.note.picture_url, width: 600) if kiroku.note.picture.present? %></td></tr>
</table>
<% end %>
<hr>

<%= t('activerecord.attributes.approval.signature') %><br />
<%= form_tag action='close_inspection' do %>
  <div>
    <script type="text/javascript" src="./libs/fabric.js"></script>
    <canvas id="canvas" width="300" height="300" style="border:1px solid;">ご利用のブラウザでは署名欄は表示できません。</canvas>
  　<script type="text/javascript">
　    <!--　 Canvasオブジェクトを作成　-->
　      var canvas = new fabric.Canvas('canvas');
      <!--　ここにコードを書いていきます。　-->
        canvas.isDrawingMode = true;
    </script>
    <button type="button" onclick="canvas.clear().renderAll()">クリア</button>    
    <input type="hidden" id="sign" name="sign" value="" />
  </div>
  <hr>
  <div class="actions">
    <%= submit_tag(t('views.inspection.close_inspecrion'), :onclick =>"document.getElementById('sign').value = canvas.toSVG()") %>
  </div>
<% end %>