<% breadcrumb :inspection_index %>
<h1><%= t('views.inspection.index') %></h1>

<div class="well col-md-4 col-sm-4 col-xs-4">
  
  <%= search_form_for @search do |f| %>
    <div>
    <p>
    <%= t('activerecord.attributes.inspection.worker_id') %>
    <%= f.collection_select(:worker_id_eq, Worker.all, :id, :name, :include_blank => true ) %>
    <%= t('activerecord.attributes.inspection.status_id') %>
    <%= f.collection_select(:status_id_eq, Status.all, :id, :name, :include_blank => true ) %>
    </div>
    </p>
    <div>
      <%= f.submit t('helpers.submit.search') %>
    </div>
  <% end %>

</div>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.inspection.targetyearmonth') %></th>
      <th><%= t('activerecord.attributes.inspection.equipment_id') %></th>
      <th><%= t('activerecord.attributes.inspection.status_id') %></th>
      <th><%= t('activerecord.attributes.inspection.worker_id') %></th>
      <th><%= t('activerecord.attributes.inspection.result_id') %></th>
      <th><%= t('activerecord.attributes.inspection.processingdate') %></th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @inspections.each do |inspection| %>
      <tr>
        <td><%= inspection.targetyearmonth %></td>
        <td><%= inspection.equipment.name %></td>
        <td><%= inspection.status.name %></td>
        <td><%= inspection.worker.name %></td>
        <td><%= inspection.result.name %></td>
        <td><%= inspection.processingdate %></td>
        <td>
          <% if inspection.can_inspection? %>
            <%= link_to  do_inspection_path(inspection) do %>
              <i class="fa fa-pencil fa-fw"></i> 
              <%= t('views.inspection.do_inspecrion') %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to  inspection do %>
            <i class="fa fa-newspaper-o fa-fw"></i> 
            <%= t('views.link_to.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to_if(inspection.doing?, t('views.inspection.done_inspection'), done_inspection_path(inspection) ){} %>
        </td>
        <td>
          <%= link_to edit_inspection_path(inspection) do %>
            <i class="fa fa-refresh fa-fw"></i> 
            <%=  t('views.link_to.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to  inspection, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash-o fa-fw"></i> 
            <%= t('views.link_to.destroy') %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@inspections) %>
<br>

<%= link_to t('views.link_to.new'), new_inspection_path %>
