<p id="notice"><%= notice %></p>

<p>
  <strong>Targetyearmonth:</strong>
  <%= @inspection.targetyearmonth %>
</p>

<p>
  <strong>References:</strong>
  <%= @inspection.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @inspection.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @inspection.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @inspection.references %>
</p>

<p>
  <strong>Processingdate:</strong>
  <%= @inspection.processingdate %>
</p>

<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
