<% breadcrumb :inspection_show %>
<h1><%= t('views.inspection.show') %></h1>
<p id="notice"><%= notice %></p>

<%= render 'show', inspection: @inspection %>

<%= render 'kirokus/index', kirokus: @kirokus %>

<%= t('activerecord.attributes.approval.signature') %><br />
<%= raw @inspection.approval.signature if @inspection.approval.present? %>

<hr>
<%= link_to 'Edit', edit_inspection_path(@inspection) %> |
<%= link_to 'Back', inspections_path %>
